$accentColor =#0078D7//默认主题颜色
//$textColor = red//默认字体颜色
//$borderColor = #eaecef//默认边框颜色
//$codeBgColor = #282c34//默认背景颜色
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity :1
}
.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.5em !important;
  margin-left: -1em;
}
// 右侧文章标题导航栏
a.sidebar-link {
  font-size: 16px !important;
}
